.filter__container {
/*   width: inherit; */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background: #f2f5f7;
    padding-left: 20px;
}

.filter__container a {
    color: blue;
    /* margin-left: 40px; */
    font-size: smaller;
    text-decoration: none;
    cursor: pointer;
}


.filter__row {
    width: inherit;
/*   min-height: 50px; */
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

.filter__row_btnlink {
    width: inherit;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-Content: space-between
}

.filter__row:last-child {
    border: none;
}




/* KEYWORD FILTER */

.filter__item {
/*   max-width: 210px; */
    position: relative;
}



.filter__item input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

.filter__item .label svg {
    position: absolute;
    right: 10px;
    top: 6px;
    stroke: #bababa;
}

.label {
    height: 28px;
    padding: 8px 8px 8px 0;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.4px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    color: #696969;
/*   background: #f6f8fa; */
}




.container {
    height: 0;
    overflow: hidden;
}

input[type=checkbox]:checked ~ label svg {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

input[type=checkbox]:checked ~ .container {
    overflow: normal;
    height: auto;
    padding: 8px 8px 8px 0;
/*   border-top: 1px solid #e1e4e8; */
}

input[type=checkbox]:checked ~ .price__container {
    padding: 25px 18px;
}

.keyword__search {
    padding: 5px;
    font-size: 13px;
    width: 100%;
    border: 1px solid #cbcccc;
}

@media only screen and (max-width: 767px) {
    #btnFilter {
        display: block;
    }

    .filter__container {
        display: none;
    }
}
    