.MainInfo {
    margin: 20px 0 90px 0
}

.MainInfo #btnCopyLink, #btnWA {
    margin-left: 10px;
    float: right;
}

@media only screen and (max-width: 768px) {
    .MainInfo #updatedAt {
        display: block;
    }

    .MainInfo #btnCopyLink, #btnWA {
        margin-top: 10px;
        margin-left: 0px;
        float: left;
    }
}

@media only screen and (max-width: 360px) {
    .MainInfo .specCard {
        width: 105px;
    }
}

@media only screen and (max-width: 280px) {
    .MainInfo #btnCopyLink, #btnWA {
        width: 50%;
    }

    .MainInfo .specGrid {
        max-width: 50%;
    }
}
