.MainInfo {
    margin: 20px 0 90px 0
}

.MainInfo #btnCopyLink, #btnWA {
    margin-left: 10px;
    float: right;
}

@media only screen and (max-width: 768px) {
    .MainInfo #updatedAt {
        display: block;
    }

    .MainInfo #btnCopyLink, #btnWA {
        margin-top: 10px;
        margin-left: 0px;
        float: left;
    }
}
