.StepToBuyBanner {
    margin: 60px 0 50px 0;
}

a {
    color: black;
}

.article {
    height: 420px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: contrast(0.60) brightness(0.55);
}

.header {    
    font-size: 1em;
    color: darkorange;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.contentHeader {    
    font-size: 2em;
    color: white;
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 2%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.contentSubheader {
    color: lightgray;
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 2%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.boxContent1 {    
    font-size: 2.5em;
    background-color: black;
    width: 5%;
    border-radius: 5px;
    padding: 20px;
    opacity: 0.5;
    color: white;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 2%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.content1 {
    color: white;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 8%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.subContent1 {
    font-size: 0.9em;
    font-weight: lighter;
    color: white;
    position: absolute;
    opacity: 0.7;
    top: 60%;
    bottom: 0;
    left: 8%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.boxContent2 {    
    font-size: 2.5em;
    background-color: black;
    width: 5%;
    border-radius: 5px;
    padding: 20px;
    opacity: 0.5;
    color: white;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 38%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.content2 {
    color: white;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 44%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.subContent2 {
    font-size: 0.9em;
    font-weight: lighter;
    color: white;
    position: absolute;
    opacity: 0.7;
    top: 60%;
    bottom: 0;
    left: 44%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.boxContent3 {    
    font-size: 2.5em;
    background-color: black;
    width: 5%;
    border-radius: 5px;
    padding: 20px;
    opacity: 0.5;
    color: white;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 70%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.content3 {
    color: white;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 76%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.subContent3 {
    font-size: 0.9em;
    font-weight: lighter;
    color: white;
    position: absolute;
    opacity: 0.7;
    top: 58%;
    bottom: 0;
    left: 76%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.line {
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
}

.btn {
    border: 0px;
    color: white;
    background-color: darkorange;
    border-radius: 5px;
    position: absolute;
    padding: 15px;
    width: 20%;
    top: 86%;
    bottom: 0;
    left: 2%;
    right: 0;
    height: fit-content;
    text-shadow: 0 0 25px black;
    cursor: pointer;
}

.brandIcon1 {
    background-color: white;
    width: 5%;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 85.5%;
    bottom: 0;
    left: 52%;
    right: 0;
    height: 11%;
    text-shadow: 0 0 25px black;
}

.brandIcon2 {
    background-color: white;
    width: 5%;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 85.5%;
    bottom: 0;
    left: 58%;
    right: 0;
    height: 11%;
    text-shadow: 0 0 25px black;
}

.brandIcon3 {
    background-color: white;
    width: 5%;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 85.5%;
    bottom: 0;
    left: 64%;
    right: 0;
    height: 11%;
    text-shadow: 0 0 25px black;
}

.brandIcon4 {
    background-color: white;
    width: 5%;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 85.5%;
    bottom: 0;
    left: 70%;
    right: 0;
    height: 11%;
    text-shadow: 0 0 25px black;
}

.brandIcon5 {
    background-color: white;
    width: 5%;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 85.5%;
    bottom: 0;
    left: 76%;
    right: 0;
    height: 11%;
    text-shadow: 0 0 25px black;
}

.brandIcon6 {
    background-color: white;
    width: 5%;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 85.5%;
    bottom: 0;
    left: 82%;
    right: 0;
    height: 11%;
    text-shadow: 0 0 25px black;
}

.brandIcon7 {
    background-color: white;
    width: 5%;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 85.5%;
    bottom: 0;
    left: 88%;
    right: 0;
    height: 11%;
    text-shadow: 0 0 25px black;
}

.brandIcon8 {
    background-color: white;
    width: 5%;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 85.5%;
    bottom: 0;
    left: 94%;
    right: 0;
    height: 11%;
    text-shadow: 0 0 25px black;
}

@media only screen and (max-width: 912px) {
    .article {
        height: 520px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    .contentHeader {    
        font-size: 2em;
        top: 8%;        
    }
    
    .boxContent1 {    
        font-size: 1em;
        top: 40%;
        width: 6%;
    }
    
    .content1 {
        top: 36%;
        left: 10%;
    }
    
    .subContent1 {
        top: 45%;        
        left: 10%;
    }
    
    .boxContent2 {    
        font-size: 1em;
        top: 40%;
        left: 50%;
        width: 6%;
    }
    
    .content2 {
        top: 36%;
        left: 58%;
    }
    
    .subContent2 {
        top: 45%;
        left: 58%;
    }
    
    .boxContent3 {    
        font-size: 1em;
        width: 6%;
        top: 58%;
        left: 2%;
    }
    
    .content3 {
        top: 53.5%;
        left: 10%;
    }
    
    .subContent3 {
        top: 62%;
        left: 10%;
    }
    
    .line {
        top: 74%;
    }
    
    .btn {
        width: 30%;
        top: 83.5%;
        padding: 13px;
    }
    
    .brandIcon1 {
        width: 8%;
        top: 77%;
        left: 63%;
        height: 11%;
    }
    
    .brandIcon2 {
        width: 8%;
        top: 77%;
        left: 72%;
        height: 11%;
    }
    
    .brandIcon3 {
        width: 8%;
        top: 77%;
        left: 81%;
        height: 11%;
    }
    
    .brandIcon4 {
        width: 8%;
        top: 77%;
        left: 90%;
        height: 11%;
    }
    
    .brandIcon5 {
        width: 8%;
        top: 88.5%;
        left: 63%;
        height: 11%;
    }
    
    .brandIcon6 {
        width: 8%;
        top: 88.5%;
        left: 72%;
        height: 11%;
    }
    
    .brandIcon7 {
        width: 8%;
        top: 88.5%;
        left: 81%;
        height: 11%;
    }
    
    .brandIcon8 {
        width: 8%;
        top: 88.5%;
        left: 90%;
        height: 11%;
    }
}

@media only screen and (max-width: 820px) {
    /* .boxContent1 {    
        font-size: 1em;
        top: 40%;
        width: 6%;
    }
    
    .content1 {
        top: 36%;
        left: 10%;
    }
    
    .subContent1 {
        top: 45%;        
        left: 10%;
    }
    
    .boxContent2 {    
        font-size: 1em;
        top: 40%;
        left: 50%;
        width: 6%;
    }
    
    .content2 {
        top: 36%;
        left: 58%;
    }
    
    .subContent2 {
        top: 45%;
        left: 58%;
    }
    
    .boxContent3 {    
        font-size: 1em;
        width: 6%;
        top: 58%;
        left: 2%;
    }
    
    .content3 {
        top: 53.5%;
        left: 10%;
    }
    
    .subContent3 {
        top: 62%;
        left: 10%;
    } */
    
    .line {
        top: 76%;
    }
    
    .btn {
        width: 30%;
        top: 85.5%;
        padding: 13px;
    }
    
    .brandIcon1 {
        width: 8%;
        top: 78.5%;
        left: 62%;
        height: 10%;
    }
    
    .brandIcon2 {
        width: 8%;
        top: 78.5%;
        left: 71%;
        height: 10%;
    }
    
    .brandIcon3 {
        width: 8%;
        top: 78.5%;
        left: 80%;
        height: 10%;
    }
    
    .brandIcon4 {
        width: 8%;
        top: 78.5%;
        left: 89%;
        height: 10%;
    }
    
    .brandIcon5 {
        width: 8%;
        top: 89.5%;
        left: 62%;
        height: 9.5%;
    }
    
    .brandIcon6 {
        width: 8%;
        top: 89.5%;
        left: 71%;
        height: 9.5%;
    }
    
    .brandIcon7 {
        width: 8%;
        top: 89.5%;
        left: 80%;
        height: 9.5%;
    }
    
    .brandIcon8 {
        width: 8%;
        top: 89.5%;
        left: 89%;
        height: 9.5%;
    }
}

@media only screen and (max-width: 768px) { 
    .boxContent1 {    
        font-size: 1em;
        top: 40%;
        width: 7%;
    }
    
    .content1 {
        top: 36%;
        left: 12%;
    }
    
    .subContent1 {
        top: 45%;        
        left: 12%;
    }
    
    .boxContent2 {    
        font-size: 1em;
        top: 40%;
        left: 52%;
        width: 7%;
    }
    
    .content2 {
        top: 36%;
        left: 62%;
    }
    
    .subContent2 {
        top: 45%;
        left: 62%;
    }
    
    .boxContent3 {    
        font-size: 1em;
        width: 7%;
        top: 58%;
        left: 2%;
    }
    
    .content3 {
        top: 54%;
        left: 12%;
    }
    
    .subContent3 {
        top: 63%;
        left: 12%;
    }
    
    .line {
        top: 78%;
    }
    
    .btn {
        width: 30%;
        top: 85.5%;
        padding: 13px;
    }
    
    .brandIcon1 {
        width: 8%;
        top: 80%;
        left: 63%;
        height: 10%;
    }
    
    .brandIcon2 {
        width: 8%;
        top: 80%;
        left: 72%;
        height: 10%;
    }
    
    .brandIcon3 {
        width: 8%;
        top: 80%;
        left: 81%;
        height: 10%;
    }
    
    .brandIcon4 {
        width: 8%;
        top: 80%;
        left: 90%;
        height: 10%;
    }
    
    .brandIcon5 {
        width: 8%;
        top: 90.5%;
        left: 63%;
        height: 9%;
    }
    
    .brandIcon6 {
        width: 8%;
        top: 90.5%;
        left: 72%;
        height: 9%;
    }
    
    .brandIcon7 {
        width: 8%;
        top: 90.5%;
        left: 81%;
        height: 9%;
    }
    
    .brandIcon8 {
        width: 8%;
        top: 90.5%;
        left: 90%;
        height: 9%;
    }
}

@media only screen and (max-width: 540px) {
    .boxContent1, .boxContent2, .boxContent3 {   
        width: 10%;
    }
    
    .content1 {
        top: 36%;
        left: 15%;
    }
    
    .subContent1 {
        top: 45%;        
        left: 15%;
    }
    
    .boxContent2 {
        top: 54%;
        left: 2%;
    }
    
    .content2 {
        top: 50%;
        left: 15%;
    }
    
    .subContent2 {
        top: 58%;
        left: 15%;
    }
    
    .boxContent3 {
        top: 68%;
    }
    
    .content3 {
        top: 63.5%;
        left: 15%;
    }
    
    .subContent3 {
        top: 72%;
        left: 15%;
    }
    
    .line {
        top: 83%;
    }
    
    .btn {
        width: 30%;
        top: 87.5%;
        padding: 13px;
    }
    
    .brandIcon1 {
        width: 8%;
        top: 85.5%;
        left: 62%;
        height: 7%;
    }
    
    .brandIcon2 {
        width: 8%;
        top: 85.5%;
        left: 71%;
        height: 7%;
    }
    
    .brandIcon3 {
        width: 8%;
        top: 85.5%;
        left: 80%;
        height: 7%;
    }
    
    .brandIcon4 {
        width: 8%;
        top: 85.5%;
        left: 89%;
        height: 7%;
    }
    
    .brandIcon5 {
        width: 8%;
        top: 93%;
        left: 62%;
        height: 6.5%;
    }
    
    .brandIcon6 {
        width: 8%;
        top: 93%;
        left: 71%;
        height: 6.5%;
    }
    
    .brandIcon7 {
        width: 8%;
        top: 93%;
        left: 80%;
        height: 6.5%;
    }
    
    .brandIcon8 {
        width: 8%;
        top: 93%;
        left: 89%;
        height: 6.5%;
    }
}

@media only screen and (max-width: 414px) {
    .boxContent1 {    
        font-size: 1em;
        top: 40%;
        width: 14%;
    }
    
    .content1 {
        top: 36%;
        left: 18%;
    }
    
    .subContent1 {
        top: 45%;        
        left: 18%;
    }
    
    .boxContent2 {    
        font-size: 1em;
        top: 54%;
        left: 2%;
        width: 14%;
    }
    
    .content2 {
        top: 50%;
        left: 18%;
    }
    
    .subContent2 {
        top: 58%;
        left: 18%;
    }
    
    .boxContent3 {    
        font-size: 1em;
        width: 14%;
        top: 68%;
        left: 2%;
    }
    
    .content3 {
        top: 63.5%;
        left: 18%;
    }
    
    .subContent3 {
        top: 72%;
        left: 18%;
    }
    
    .line {
        top: 83%;
    }
    
    .btn {
        width: 30%;
        top: 87.5%;
        padding: 13px;
    }
    
    .brandIcon1 {
        width: 8%;
        top: 85.5%;
        left: 62%;
        height: fit-content;
    }
    
    .brandIcon2 {
        width: 8%;
        top: 85.5%;
        left: 71%;
        height: fit-content;
    }
    
    .brandIcon3 {
        width: 8%;
        top: 85.5%;
        left: 80%;
        height: fit-content;
    }
    
    .brandIcon4 {
        width: 8%;
        top: 85.5%;
        left: 89%;
        height: fit-content;
    }
    
    .brandIcon5 {
        width: 8%;
        top: 93.5%;
        left: 62%;
        height: 6%;
    }
    
    .brandIcon6 {
        width: 8%;
        top: 93.5%;
        left: 71%;
        height: 6%;
    }
    
    .brandIcon7 {
        width: 8%;
        top: 93.5%;
        left: 80%;
        height: 6%;
    }
    
    .brandIcon8 {
        width: 8%;
        top: 93.5%;
        left: 89%;
        height: 6%;
    }
}

/* @media only screen and (max-width: 376px) {
    .boxContent1 {    
        font-size: 1em;
        top: 40%;
        width: 14%;
    }
    
    .content1 {
        top: 36%;
        left: 18%;
    }
    
    .subContent1 {
        top: 45%;        
        left: 18%;
    }
    
    .boxContent2 {    
        font-size: 1em;
        top: 54%;
        left: 2%;
        width: 14%;
    }
    
    .content2 {
        top: 50%;
        left: 18%;
    }
    
    .subContent2 {
        top: 58%;
        left: 18%;
    }
    
    .boxContent3 {    
        font-size: 1em;
        width: 14%;
        top: 68%;
        left: 2%;
    }
    
    .content3 {
        top: 63.5%;
        left: 18%;
    }
    
    .subContent3 {
        top: 72%;
        left: 18%;
    }
    
    .line {
        top: 83%;
    }
    
    .btn {
        width: 30%;
        top: 87.5%;
        padding: 13px;
    }
    
    .brandIcon1 {
        width: 8%;
        top: 85.5%;
        left: 62%;
        height: fit-content;
    }
    
    .brandIcon2 {
        width: 8%;
        top: 85.5%;
        left: 71%;
        height: fit-content;
    }
    
    .brandIcon3 {
        width: 8%;
        top: 85.5%;
        left: 80%;
        height: fit-content;
    }
    
    .brandIcon4 {
        width: 8%;
        top: 85.5%;
        left: 89%;
        height: fit-content;
    }
    
    .brandIcon5 {
        width: 8%;
        top: 93.5%;
        left: 62%;
        height: 6%;
    }
    
    .brandIcon6 {
        width: 8%;
        top: 93.5%;
        left: 71%;
        height: 6%;
    }
    
    .brandIcon7 {
        width: 8%;
        top: 93.5%;
        left: 80%;
        height: 6%;
    }
    
    .brandIcon8 {
        width: 8%;
        top: 93.5%;
        left: 89%;
        height: 6%;
    }
} */

@media only screen and (max-width: 360px) {
    .content1, .content2, .content3 {
        font-size: 15px;
    }
    
    .btn {
        width: 30%;
        top: 88%;
        padding: 10px;
    }
}

@media only screen and (max-width: 280px) {
    .contentHeader {
        font-size: 17px;
    }

    .contentSubheader {
        font-size: 15px;
        top: 22%;
    }

    .boxContent1 {
        top: 32%;
        width: 20%;
    }

    .content1 {
        font-size: 13px;
        left: 24%;
        top: 28%;
    }

    .subContent1 {
        font-size: 10px;
        left: 24%;
        top: 39%;
    }

    .boxContent2 {
        top: 46%;
        width: 20%;
    }

    .content2 {
        font-size: 13px;
        left: 24%;
        top: 43%;
    }

    .subContent2 {
        font-size: 10px;
        left: 24%;
        top: 51%;
    }

    .boxContent3 {
        top: 60%;
        width: 20%;
    }

    .content3 {
        font-size: 13px;
        left: 24%;
        top: 57%;
    }

    .subContent3 {
        font-size: 10px;
        left: 24%;
        top: 64%;
    }

    .line {
        top: 86%;
    }
    
    .btn {
        width: 35%;
        top: 90%;
        padding: 5px;
    }

    .brandIcon1 {
        top: 88.5%;
        left: 62%;
        height: 5%;
        padding-top: 1px;
    }
    
    .brandIcon2 {
        top: 88.5%;
        left: 71%;
        height: 5%;
        padding-top: 1px;
    }
    
    .brandIcon3 {
        top: 88.5%;
        left: 80%;
        height: 5%;
        padding-top: 1px;
    }
    
    .brandIcon4 {
        top: 88.5%;
        left: 89%;
        height: 5%;
        padding-top: 1px;
    }
    
    .brandIcon5 {
        top: 94.5%;
        left: 62%;
        height: 5%;
        padding-top: 1px;
    }
    
    .brandIcon6 {
        top: 94.5%;
        left: 71%;
        height: 5%;
        padding-top: 1px;
    }
    
    .brandIcon7 {
        top: 94.5%;
        left: 80%;
        height: 5%;
        padding-top: 1px;
    }
    
    .brandIcon8 {
        top: 94.5%;
        left: 89%;
        height: 5%;
        padding-top: 1px;
    }
}
